
.text-input {
    -fx-background-color: rgb(218, 240, 248);
    -fx-text-fill: black;
}

.label {
    -fx-text-color: rgb(0, 5, 5);
    -fx-text-fill: rgba(0, 0, 0);
} 

.button {
    -fx-background-color: rgb(218, 240, 248);
}